/**
 * gtrdeck stylesheet
 **/

 html,
 body {
   height:100%;
   width:100%;
 }

/* temp */
html,
body {
  background-image: radial-gradient(circle, #46637f, #2c3e50)
}

article[page=index] {
  height:100%;
}

nav {
  height:50px;
  line-height:50px;
  width:100%;
  background-color: rgba(0,0,0,0.15);
}

nav .logo {
  float:left;
  padding-left:20px;
  font-size:2em;
  color:#FFFFFF;
}

nav .credit {
  float:right;
  padding-right:20px;
  font-size:0.8em;
  color:#FFFFFF;
}

.side-nav {
  position:fixed;

  color:white;

  left:0;
  bottom:0;
  top:0;

  width:50px;
  background-color:#3A3D42;
}
.side-nav .logo {
  height:50px;
  line-height: 50px;
  width:100%;

  text-align: center;

  font-size:2em;
}

.side-nav .logo i {
  height:50px;
  line-height:50px;
  width:100%;
}

.side-nav .tabs hr {
  margin:0;
  border-color:#777777;
  margin-left:5px;
  width:40px;
}

.side-nav .tabs .tabs-wrapper .tabs {
  height:50px;
  line-height:50px;
  width:100%;
  text-align: center;
}

.side-nav .tabs .tabs-wrapper .tabs img {
  height:30px;
  width:auto;
  border-radius: 30px;
}

.side-nav .tabs .tabs-wrapper .tabs img:hover {
  opacity: 0.5;
}

.side-nav .tabs .new-tab-wrapper {
  height:50px;
  line-height:50px;
  width:100%;
  text-align: center;
}
.side-nav .tabs .new-tab-wrapper i {
  color:#777777;
  height:50px;
  line-height:50px;
  width:100%;
  font-size:1.5em;
}

.side-nav .tabs .new-tab-wrapper i:hover {
  color:inherit;
}

.side-nav .settings-wrapper {
  position:absolute;

  height:50px;
  line-height: 50px;
  text-align: center;

  bottom:0;
}

.side-nav .settings-wrapper i {
  width:auto;
  height:50px;
  line-height: 50px;
  font-size:2em;
  text-align: center !important;

  padding-right: 10px;
  padding-left: 10px;
}

.message-wrapper {
  margin-left:50px;
  height:100%;
  float:left;
  width:250px;
  background-color: #485865;

  display:none;
}

.message-header {
  margin-right:20px;
  margin-left:20px;
}

.message-header h1 {
  color: #FFFFFF;
  font-size:20px;
}

.message-header hr {
  border-color:#6D7984;
}

.message-btn-wrapper {
  margin-right:20px;
  margin-left:20px;
}

.message-text-wrapper {
  margin-right:20px;
  margin-left:20px;

  margin-bottom:10px;

  width: auto;
}

.message-room {
  user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  margin-right:20px;
  margin-left:20px;

  height:40px;

  margin-bottom:10px;

  font-size:15px;

  color:#FFFFFF;
}

.message-room-name {
  height:30px;
  line-height: 30px;
  padding-left:10px;
  float:left;
}

.message-room-img {
  float:left;
  height:30px;
  width:auto;
}

.message-textarea {
  overflow: hidden;
  width:210px;
  height:150px;

  word-wrap:break-word;

  padding:10px 10px 10px 10px;

  background-color:#FFFFFF;

  resize: none;
}

.message-text-counter {
  font-size:17px;
  height:50px;
  min-width: 50px;
  text-align: center;
  width:auto;
  float:right;
  line-height: 50px;
  color:#FFFFFF;
}

.message-textarea:focus {
  outline:0 !important;
}

.message-wrapper .btn {
  width:auto;
  float:right;
  height:50px !important;
  background-color:#55ACEE !important;

  border:none !important;
  border-radius: 0 !important;

  color:#FFFFFF !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  font-size:1.5em;
}

.login-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  height:300px;

  max-width:350px;
  width:100%;

  background-color:#FFFFFF;
}

.login-panel .inner {
  margin-right:30px;
  margin-left:30px;
}

.login-panel .inner .image {
  padding-top:30px;
  text-align: center;
}

.login-panel .inner .image img {
  height:100px;
  width:auto;
}

.login-hello {
  margin-top:10px;
  margin-bottom:30px;
  font-size:2em;
  font-weight: 400;
  text-align: center;
  font:'Lato', sans-serif;
}

.login-panel .inner .name {
  font-size:2.5em;
  color:#7f8c8d;
  text-align:center;
}
.login-panel input {
  width:100%;
  margin-top:20px;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.login-panel .inner .next {
  position:absolute !important;
  bottom:0 !important;

  margin-bottom:20px;
  width:calc(100% - 60px);
}

.login-panel .inner .fui-green {
  background-color:#2ecc71 !important;
  color:#FFFFFF !important;
  font-weight:600;

  border-radius: 0 !important;
}

.tab-wrapper {
  padding-left:50px;
  white-space: nowrap;
  width: 100%;
  overflow-x:visible;
  height:100%;
}

.tab {
  display:inline-block;
  margin-top:5px;
  white-space: normal;
  height:calc(100% - 10px);
  vertical-align: top;
  width:300px;
  max-width: 300px;
  margin-left:5px;
  background-color:#222426;
}

.tab .header {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;

  color:#FFFFFF;
  width:100%;
  height:50px;
  line-height: 50px;
  background-color:#303236;
}

.tab .header .icon {
  float:left;
  width:50px;
  height:50px;
  border-radius: 30px;
  text-align: center;
}

.tab .header .icon img {
  width:30px;
  height:auto;;
  border-radius: inherit;
}

.tab .header .name {
  float:left;
  text-align: center;
  width:50px;
  height:inherit;
  line-height: inherit;

  margin:0;
  padding:0;

  font-size:1.5em;
}

.tab .header i {
  text-align: center;

  float:right;

  width:50px;
  height:50px;
  line-height: 50px;
  color:#666;
  font-size:1.5em;
}
.tab .header i:hover  {
  color:#FFFFFF;
}
.tab .content-wrapper {
  width:inherit;
  max-width: inherit;
  overflow-y:scroll;
  overflow-x:hidden;
}

.message {
  width:inherit;
  max-width: 300px;
  color:#FFFFFF;

  padding-left:10px;
  padding-right:10px;

  margin-top:20px;

  border-bottom: #3C3C3C 1px solid;
}

.message .at-wrap {
  height:20px;
  line-height: 20px;
}

.message .message-name {
  margin:0;
  padding:0;

  margin-top:-2px;
  float:left;
  font-size:1.3em;
  color:#CCC;
}

.message .at {
  display:none;
  margin:0;
  padding:0;

  margin-top:-5px;
  line-height: 10px;
  padding-top:10px;
  padding-left:10px;
  color:#999;
}

.message .contents {
  margin:0;
  padding:0;
  word-wrap: break-word;
  padding-left:50px;
  padding-right:10px;
  margin-bottom:20px;
}

.message .contents a {
  color:#8BD;
}

.message .contents img {
  max-width:265px;
  border-radius: 3px;
  height:auto;
  max-height:230px;
  margin-top:20px;
  margin-left:-50px;
}

.message .contents pre {
  margin:0;
  padding:0;
  margin-top:20px;
  margin-right:10px;
  margin-left:-45px;
}

.message .image {
  float:left;
  width:50px;
  height:50px;
}

.message .image img {
  height:30px;
  width: auto;

  background-color:#FFFFFF;
}

.message .sentTime {
  height:25px;
  width:100%;
  line-height:20px;
  font-size:0.85em;
  padding-right:20px;
  color:#999;
  text-align: right;
}

.dialog-bg {
  position:fixed;
  background-color: rgba(17, 17, 17, 0.6);
  z-index:300;

  display:none;

  top:0;
  bottom:0;
  right:0;
  left:0;
}

.tab-add-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  height:500px;
  max-width:400px;
  width:100%;

  z-index:400;

  background-color:#222426;
  border: 5px #707070 solid;
}

.dialog-header {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;

  background-color:#3A3D42;

  height:40px;
  width:100%;
  margin:0;
  padding:0;
}

.dialog-name {
  float:left;
  margin-left:10px;
  font-size:1.5em;
  font-family: 'Lato', sans-serif;
  height:40px;
  color:#FFFFFF;
  line-height: 40px;
}
.dialog-close {
  text-align: center;
  float:right;
  height:40px;
  width:40px;
  color:rgb(127, 140, 141);
  line-height: 40px;
  font-size:1.5em;
}
.dialog-close:hover {
  opacity: 0.7;
}

.new-tabs {
  overflow-y:scroll;
  width:inherit;
  height:450px;
}

.room {
  padding:0;
  margin:0;
  height:50px;
  width:100%;
  border-bottom: #3C3C3C 1px solid;
}

.room-image {
  float:left;
  margin-right:10px;
  margin-left:10px;
  line-height: 50px;
  height:45px;
  width:45px;
  text-align: center;
}

.room-image img {
  width:35px;
  height:35px;
  background-color:#707070;
  border-radius: 40px;
}

.room-name {
  overflow: hidden;
  font-size:1.3em;
  line-height: 50px;
  height:50px;
  color:#FFFFFF;
  float:left;
  font:'Lato', sans-serif;
}
